@model ChoixResto.ViewModels.AccueilViewModel
@{
	Layout = "~/Views/Shared/_LayoutChoixResto.cshtml";
}
<!-- Home Section-->
		<h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Accueil</h2>
		<!-- Icon Divider-->
		<div class="divider-custom">
			<div class="divider-custom-line"></div>
			<div class="divider-custom-icon"><i class="fas fa-star"></i></div>
			<div class="divider-custom-line"></div>
		</div>
		<div class="row">
			<div class="col-lg-4 ms-auto"><p class="lead">Cette application a été conçue afin que vous votiez pour vos restaurants favoris</p></div>
			<div class="col-lg-4 me-auto"><p class="lead">A la fin de chaque sondage, un restaurant sera choisi.</p></div>
		</div>
